@page "/"
@inject QRCodeService qrCodeReader

<div style="margin-top:100px">
    <MudAlert Severity="Severity.Success">QR Detected: @qrDetected</MudAlert>

    <MudStack>
        <MudItem Style="margin:0 auto;">
            <MudText Typo="Typo.h6" GutterBottom="true">QR Reader</MudText>
        </MudItem>
        <MudItem Style="margin:0 auto;">
            <MudImage Src="/golf_your_best_logo.png" Alt="" Width="250" Height="250" Class="rounded-lg mb-6" />
        </MudItem>

        <MudItem Style="margin:0 auto;">
            <MudButton OnClick="@Scan" Variant="Variant.Filled" Color="Color.Primary">Start Scanning</MudButton>
            <MudButton OnClick="@Stop" Variant="Variant.Filled" Color="Color.Primary">Stop</MudButton>

        </MudItem>
    </MudStack>
</div>


@code{
    string qrDetected = string.Empty;

    protected override Task OnInitializedAsync()
    {
        qrCodeReader.QRCompletedEvent += new QRCodeService.QRCompleted(QRDetected);
        return base.OnInitializedAsync();
    }



    public async Task QRDetected(string value)
    {
        qrDetected = value;
        StateHasChanged();
    }

    async Task Scan()
    {
        await qrCodeReader.Scan();
    }

    async Task Stop()
    {
        await qrCodeReader.Stop();
    }
}